<nav class="navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand font-styling">User Registration</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link font-styling" routerLink="register">Register</a> 
      <a class="nav-item nav-link font-styling" routerLink="userList">UserList</a>
    </div>
  </div>
</nav>
<div class="Container" style="background-color: powderblue;" >
     <router-outlet></router-outlet>
</div>