<table class='table table-bordered'>
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Country</th>
        <th>Mobile Number</th>
        <th>Gender</th>
        <th>DOB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.country}}</td>
        <td>{{user.mobileNumber}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.dob}}</td>
      </tr>
    </tbody>
  </table>
